#game {
  color: white;
  background-color: black;
  background-size: cover;
}

.score {
  color: #f15a26;
}

#replay-button {
  width: 160px;
  height: 30px;
  background-color: #f15a26;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.title {
  color: white;
}
